<div class="sentences">

  <p>
    <h1>About</h1>
  <b>①理念</b><br>
  「食の化学反応をおこせる場所を作る」
  </p>

  <p>
  <b>②目的</b><br>
  食に関わる・関わりたい全て人が、「ここに来れば具体的な自分の目標、やりたいことができる。」そんな場所を作ることが目的です。
  </p>

  <p>
  <b>③理由</b><br><p>
  　実は、もともと食にあまり関心はありませんでした。
  食に関心が湧いたのはきっかけは、小2の時に発症した白血病。
  二年間という長い入院生活が、人生の大きな転機となりました。
  </p>

  <p>
  　私は本当に病院食が嫌いで...一時期は10キロ近く体重が減少し、薬の影響で髪も全て抜けました。
  自分の身体が弱っていく感覚。それは子供ながらに鮮明に記憶に残っています。
  だからこそ、年２回の外泊で家族と食べるご飯は、どんなレストランの食事よりも美味しく感じたのを今でも覚えています。
  その経験から、自分の人生の中心は「食」になり、食への求心力は人一倍強くなりました。食への関心と一口に言っても色々ある中で、私は「食の課題解決」に特に強い関心がありました。飲食店でのアルバイトを大学四年間行い、簡単に大量の食事を捨てる現場を見続けていたことが大きな動機です。自然と「フードロス」という言葉に敏感に反応するようになっていました。
  </p>
  <p>
  　ある時、海外の「Too Good To Go」というサービス記事を見つけた時、「自分がやりたいサービスはこれだ！」と思いました。Too Good To Goが起こしたフードロス革命を日本でも実現するため、仲間と共に立ち上げたのが「TABETE」です。

  実は、このTABETEを立ち上げた仲間とどこで出会ったかというと、全てこの「食の交流会」という場所なんです。私が主催したこの「とにかく食に感度が高い」人の集まりは、極めて食に対するエネルギー量が高いです。その分、自分のやりたい事を一緒にできる人と出会う確率は上がります。実際に私がそれを体験したことから、確信に変わりました。
  エンジニアが何人か集まってプロダクトを作るように、食界隈の人が集まって化学反応をおこすことも十分にありえる。その中でも、食に特化した面白いコミュニティで、ここに来れば自分の目標となる人・または仲間に出会えるような会があれば...。
  そんな場所を作るため、学生の時から地道に一人で始めて、現在に至ります。
  </p>
  </p>

  <p>
  <b>④これからのこと</b><br>
  ・FoodTech特化型のビジコン開催！
  ・食関係の企業とのコラボ企画！
  ・食分野に特化したクラファンのコミュニティを作る！
  などなど

  参加してくれた人同士で色々な企画が化学反応的に生まれるような場所にしていきます
  </p>

  <p>
  <b>⑤まとめ</b><br>
  Tech系が盛り上がっている一方、Food系はまだまだ面白い人が各所に分散していると思います。そんな人達が一同に会せれば、相当すごいこともできると思いませんか？気になった方は是非一度遊びに来てくださいね。
  </p>
  </div>
