<html>
  <head>
  <%= stylesheet_link_tag   'my_styles/home', media: 'all',
                               'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <%= link_to "Log out", logout_path, method: :delete %>
  </body>
</html>
