.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scroll_box {
   width: 300px;
   overflow: scroll;
   display: flex;
}

.item {
  border: 4px double #000;
   margin: 0.2em 0;
   padding: 0.45em;
}
