.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scroll_box {
  width: 270px;
  height: 190px;
  overflow: auto;
}

.item {
  border: red 1px;
//display: inline-block;
}

// .item {
//   font-family: 'Mplus 1p';
//   width: 275px;
//   height: 200px;
//   margin-bottom: 1em;
// }
