.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scroll_box {
   margin: 30px;
   max-width: 100%;
   overflow: scroll;
   display: flex;
}

.item {
  border: 4px double #000;
   margin: 0.5em 0;
   padding: 0.45em;
}

.new_item {
  border: 4px double #000;
   margin: 0.2em 0;
   padding: 0.45em;
}
