body {
    background-image: image-url("title.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  //  animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    //-webkit-transition: background-color 1s linear;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
