// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    background-image: url(images/title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-property: background,width;
    transition-duration:3s;
    transition-timing-function:ease-out;
    //-webkit-transition: background-color 1s linear;
}
